@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 1;
    }
    50%, 100% {
      opacity: 0;
    }
  }
  
  .animate-fadeIn {
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }
  
  .animate-fadeOut {
    animation-name: fadeOut;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }
  